.master-container {
  height: 100vh;
  overflow-y: hidden;
  overflow-x: hidden;
}

.title {
  text-align: center;
  font-size: 4.8em;
}

.subtitle {
  text-align: center;
  font-size: 1.5em;
  font-weight: 300;
}
