<form [formGroup]="form">
  <mat-form-field>
    <input type="text" matInput placeholder="description" formControlName="description"/>
  </mat-form-field>
  <mat-form-field>
    <input type="number" matInput placeholder="priority" formControlName="priority">
  </mat-form-field>
  <mat-form-field>
    <mat-select formControlName="status">
      <mat-option *ngFor="let status of statuses" [value]="status">{{status}}</mat-option>
    </mat-select>
  </mat-form-field>
</form>
<div class="columns">
  <div class="column is-one-third is-offset-one-third">
    <button class="button is-primary add-button" (click)="onAddTodo()" [disabled]="form.invalid">
      Add Task
    </button>
  </div>
</div>
